/* =================for SwiperCard=================== */
.swiper-button-prev:after,.swiper-button-next:after{
    font-size: 20px;
    background: rgb(255, 205, 205);
    padding: 10px 16px 10px 14px;   
    color: red;
    font-weight: 700;
    border-radius: 50%;
}
.swiper-button-next:after{

    padding: 10px 14px 10px 16px
}

/* =================for Clients=================== */
#MainClientDiv{
    position: relative;
    overflow: hidden;
}
#ClientsDiv{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
    animation: animateClientsDiv linear infinite 10s;
}
@keyframes animateClientsDiv {
    0% {
      left: 0;
    }
    100% {
      left: -1000px;
    }
}